
.oe_product_cart {
    background-color: #000 !important;
    border-radius: 10%;

    .oe_product_image {

        border: 1px solid #000 !important;
        background-color: #000 !important;
        border-radius: 10%;
    }

}

thead, tbody, tfoot, tr, td, th {

    border: 1px solid #000 !important;
}
